node_modules/
.env
EverythingTT-API/
.DS_Store
dist/
build/

# Critical Data Storage
news/article-comments-storage/
news/created-articles-storage/
news/created-news-accounts-storage/
news/notifications-storage/